@model IEnumerable<Product>
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{

    <script src="~/ClientApp/runtime.js"></script>
    <script src="~/ClientApp/polyfills.js"></script>
    <script src="~/ClientApp/styles.js"></script>
    <script src="~/ClientApp/vendor.js"></script>
    <script src="~/ClientApp/main.js"></script>
}

<h1>Shop</h1>

<the-shop></the-shop>